body {
  
}

table.GeneratedTable {
    width: 50%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

    table.GeneratedTable td, table.GeneratedTable th {
        border-width: 2px;
        border-color: #ffcc00;
        border-style: solid;
        padding: 3px;
        margin-left: auto;
        margin-right: auto;
    }

    table.GeneratedTable thead {
        background-color: #ffcc00;
        margin-left: auto;
        margin-right: auto;
    }

